<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">List of Labs</h4>
                  <p class="card-category"> </p>
                </div>
				<div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                        Sr.No
                        </th>
                        <th>
                         Order Date
                        </th>
                        <th>
                        Lab
                        </th>
                        <th>
                         Action
                        </th>
                       
                      </thead>
                      <tbody >
                        <tr *ngFor="let item of orderlist; let i = index">
                          <td>
                           {{i+1}}
                          </td>
                          <td>
                           Order-{{item.createdDate}}
                          </td>
                           <td>
                           {{item.labname}}
                          </td>
                          <td>
                            <a class="btn" routerLink="/vieworder/{{item._id}}">Process</a>
                          </td>
                         
                        </tr>
              
                      </tbody>
                    </table>
                  </div>
                </div>
                 </div>
            </div>
           </div>
