
<!-- saved from url=(0035)https://www.appstorescreenshot.com/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:200,300.400,600,800"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Arvo:400,700|Cabin:400,700|Catamaran:400,700|Droid+Sans:400,700|Gloria+Hallelujah|Indie+Flower|Josefin+Sans:400,700|Lato:400,700|Lobster+Two:400,700|Poiret+One|Poppins:300,600|Quicksand:400,700|Raleway:400,700|Roboto:300,700|Ubuntu:300,600|Nunito:300,700" rel="stylesheet"/>
        <!-- <link rel="stylesheet" href="./App Store Screenshot Generator _ Create Beautiful Screenshots for iOS and Android in Minutes_files/css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="https://www.appstorescreenshot.com/images/screenshot_icon.png" sizes="96x96">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
 
        <title>App Store Screenshot Generator | Create Beautiful Screenshots for iOS and Android in Minutes</title>
        <meta name="description" content="Create beautiful app screenshots for iOS and Android in minutes.">
        <meta name="keywords" content="App Store Sceenshot, App Screenshot, iOS Screenshot, iOS Screenshot Generator, App Screenshot Generator, iPhone Screenshot, iPhone Screenshot Generator, Android App Screenshot, Android Screenshot">
        <!-- <script async="" src="/analytics.js.download"></script><script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
          ga('create', 'UA-85039437-1', 'auto');
          ga('send', 'pageview');
        </script> -->
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
      </head>
      <body>
            <%-include('./sidebar.ejs')%>
        <div id="mainwrapperss" class="row pt-2 mr-1 pl-4 ">

            <div class="col-md-3 p-0 mt-1">
                <div class="card m-2 " style="width: 18rem; border-radius: 0px; background: #353640; border-color:#353640" data-toggle="modal" data-target="#myModal"  >
                    <img class="card-img-top" style="border-radius:0px !important;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167b83df4c6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167b83df4c6%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                    <div class="card-body" style="    background: #353640;color: white;" >
                    <h5 class="card-title" style="text-align:center"> Add New App</h5>
                    <!-- <p class="card-text">Some quick example text to build on the app title and make up the bulk of the app's screes.</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            
                <!-- <div class="container" id="mainwrapper">
                        <button class="btn btn-primary btn-lg" onclick="addnew()"> Add New App</button>
                </div> -->
                
        </div>

        <!--  -->
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New App Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="newAppName">App Name</label>
                            <input type="text" class="form-control" id="newAppName" aria-describedby="emailHelp" placeholder="Enter App Name">
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="addnew()" >Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

        
      </body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
         function addnew(){
              var appName=$("#newAppName").val();
              if(appName.length>0){
                window.location.href="http://localhost:3000/index?appName="+appName;
              }else{
                  alert("App Name is required")
              }
          }
          function openapp(id){
            window.location.href="http://localhost:3000/index?id="+id;
          }
          $(document).ready(function(){
              $.ajax({
                  url:"/app/getApps?asdf",
                  success:function(data){
                      console.log(data)
                      data.data.forEach(element => {
                          $("#mainwrapperss").append(`<div class="col-md-3 p-0 mt-1"> <div class="card m-2"  style="width: 18rem; border-radius: 0px; background: #353640; border-color:#353640" onclick='openapp("`+element.id+`")')>
                            <img class="card-img-top" style="border-radius:0px !important;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167b83df4c6%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167b83df4c6%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                            <div class="card-body" style="background: #353640;color: white;">
                              <h5 class="card-title"  style="text-align:center"> `+element.appName+`</h5>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div></div>`)
                      });
                  }

              })
          })
      </script>
      </html>