<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
	Paddle.Setup({ vendor: 38103 });
</script> 
<style>
  body {
    background-color: #191A1E;
    overflow-x: hidden;
    padding-left: 75px;
  }
 
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color: #f5eeee;
    font-size: 25px;
    margin: 0 0 8px 0;}
.panel p { color:#fff; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #666 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #ed6969 none repeat scroll 0 0;
  border-color: #ed6969;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ed6969 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

</style>
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading"></h1><p></p><p></p><p></p>
<div class="login-form">

  <%if(session.errMsg){%>
    <div class="alert alert-danger">
        <strong>Opps!</strong> <%=session.errMsg%>.
      </div>
  <%}%>
  
<div class="main-div">
    <%if(type=='login'){%>
    <div class="panel">
   <h2>Login</h2>
   <p>Please enter your email and password</p>
   </div>
    <form id="Login" method="post" action="/login">
        <div class="form-group">


            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="forgot">
        <!-- <a href="#!">Forgot password?</a> -->
</div>
        <button type="submit" class="btn btn-primary">Login</button>
       <div class="panel"> <p style="color:white">Don't have account. <a href="/signup" style="color:white">Sign Up</a> here</p></div>
    </form> 
    <%}%>
    <%if(type=='signup'){%>

    <div class="panel">
        <h2>Sign Up</h2>
        <p></p>
        </div>
         <form id="Login" method="POST"action="/signup">
            <div class="form-group">
                <input type="text" name="fname" class="form-control" id="name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" name="lname" class="form-control" id="lastname" placeholder="Last Name">
            </div>
             <div class="form-group">
                 <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
             </div>
             <div class="form-group">
                 <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
             </div>

             <div class="forgot">
             <!-- <a href="">Forgot password?</a> -->
     </div>
             <button type="submit" class="btn btn-primary">Sign Up</button>
     
         </form>
      <%}%>
    </div>
</div></div></div>

<script type="text/javascript">
/*  <a href="#!" id="buy">Buy now!</a> */
	function openCheckout() {
		Paddle.Checkout.open({ product: 548114 });
	}
	$('#buy').click(openCheckout);
</script>

</body>
</html>
