<div class="sidebar">
	<div class="user">
		<i class="fas fa-user"></i>
	</div>
	<div>
		<a href="/index" style="color:white"><i class="fas fa-paper-plane"></i></a>
		<a href="/dashboard" style="color:white"><i class="fab fa-buromobelexperte"></i></a>
		<a href="/" style="color:white"><i class="fas fa-cog"></i></a>
	</div>
	<div class="addBtn">
		<i class="fas fa-plus" data-toggle="modal" data-target="#myModal"></i>
	</div>
</div>