 <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title text-center">Assign Items</h4>
                  <p class="card-category">Select Lab and assign Items to lab</p>
                </div>
                <div class="card-body">
                  <form>
                    <app-load-form (getData)="save($event)"   [isBorder]="false" [elements]="labAddForm"></app-load-form>
                    
                  </form>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>